<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="user-origin" content="{{user_origin}}">
  <title>DNS Portal</title>
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  {% if testing_mode -%}
  <div class="container-fluid text-bg-danger text-center fw-bold">LOCAL TEST MODE</div>
  {% endif -%}
  <div class="container-lg">

    <div class="row justify-content-between mt-2 mb-4">
      <div class="col">
        <h1 class="overflow-x-scroll">{{user_origin}}</h1>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-light text-nowrap" onclick="logout()">Log out</button>
      </div>
    </div>

    <div id="new-record-panel" class="mb-4">
      <h5 class="card-title">DNS zone</h5>
      <ul class="nav nav-underline" id="recordTabs" role="tablist">
        <li class="nav-item" role="presentation"><button class="nav-link active" id="table-tab" data-bs-toggle="tab"
            data-bs-target="#table-view" type="button" role="tab" aria-selected="true">Table</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="file-tab" data-bs-toggle="tab"
            data-bs-target="#file-view" type="button" role="tab" aria-selected="false" tabindex="-1">File</button>
        </li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="actions-tab" data-bs-toggle="tab"
            data-bs-target="#actions" type="button" role="tab" aria-selected="false" tabindex="-1">Actions</button>
        </li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="dyndns-tab" data-bs-toggle="tab"
            data-bs-target="#dyndns" type="button" role="tab" aria-selected="false" tabindex="-1">DynDNS</button>
        </li>
      </ul>
      <div class="tab-content mt-3">
        <div class="tab-pane table-responsive fade active show" id="table-view" role="tabpanel"
          aria-labelledby="table-tab">
          <table class="table" id="zone-table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Hostname</th>
                <th scope="col" style="min-width: 120px;">Value</th>
                <th scope="col" style="min-width: 100px;">TTL (seconds)</th>
                <th scope="col" class="text-end" style="min-width: 130px;">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade show" id="file-view" role="tabpanel" aria-labelledby="file-tab">
          <pre><code id="zone-file">{{user_zone}}</code></pre>
        </div>
        <div class="tab-pane fade show" id="actions" role="tabpanel" aria-labelledby="actions-tab">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Reset zone</button>
              <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Reset zone</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Resetting the zone will delete all records and start a fresh DNS zone.</p>
                      <button type="button" class="btn btn-danger" onclick="reset_zone()">Yes, delete everything and
                        start again</button>
                    </div>
                    <div class="modal-footer bg-danger-subtle d-none">Error resetting the zone.<br><span
                        id="reset-error-msg"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="dyndns" role="tabpanel" aria-labelledby="dyndns-tab">
          <h3>Dynamic DNS</h3>
          <p>Your token: <span id="user_token">{{user_token}}</span></p>
        </div>
      </div>
    </div>

    <br>
    <div id="new-record-panel" class="mb-4">
      <h5 class="card-title">Create new record</h5>
      <ul class="nav nav-underline" id="recordTabs" role="tablist">
        <li class="nav-item" role="presentation"><button class="nav-link active" id="a-tab" data-bs-toggle="tab"
            data-bs-target="#a-record" type="button" role="tab" aria-selected="true">A</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="aaaa-tab" data-bs-toggle="tab"
            data-bs-target="#aaaa-record" type="button" role="tab" aria-selected="false" tabindex="-1">AAAA</button>
        </li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="cname-tab" data-bs-toggle="tab"
            data-bs-target="#cname-record" type="button" role="tab" aria-selected="false" tabindex="-1">CNAME</button>
        </li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="mx-tab" data-bs-toggle="tab"
            data-bs-target="#mx-record" type="button" role="tab" aria-selected="false" tabindex="-1">MX</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="txt-tab" data-bs-toggle="tab"
            data-bs-target="#txt-record" type="button" role="tab" aria-selected="false" tabindex="-1">TXT</button>
        </li>
        <li class="nav-item" role="presentation"><button class="nav-link" id="ns-tab" data-bs-toggle="tab"
            data-bs-target="#ns-record" type="button" role="tab" aria-selected="false" tabindex="-1">NS</button></li>
        <!-- <li class="nav-item" role="presentation"><button class="nav-link" id="srv-tab" data-bs-toggle="tab" -->
        <!--     data-bs-target="#srv-record" type="button" role="tab" aria-selected="false" tabindex="-1">SRV</button> -->
        <!-- </li> -->
        <!-- <li class="nav-item" role="presentation"><button class="nav-link" id="caa-tab" data-bs-toggle="tab" -->
        <!--     data-bs-target="#caa-record" type="button" role="tab" aria-selected="false" tabindex="-1">CAA</button> -->
        <!-- </li> -->
      </ul>
      <div class="tab-content mt-3" id="new-record-tab">

        <div class="tab-pane fade active show" id="a-record" role="tabpanel" aria-labelledby="a-tab">
          <form id="a-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="a-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control hostname-validation" id="a-name" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="a-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="mb-3">
                    <label for="a-ip" class="form-label">IP Address</label>
                    <input type="text" class="form-control a-validation" id="a-ip" value="" required="">
                    <div class="invalid-feedback">
                      Must be a valid IPv4.
                    </div>
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="a-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="a-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="a-button" onclick="create_record_a(this)">Create
                    Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show" id="aaaa-record" role="tabpanel" aria-labelledby="aaaa-tab">
          <form id="aaaa-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="aaaa-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control hostname-validation" id="aaaa-name" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="aaaa-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="mb-3">
                    <label for="aaaa-ip" class="form-label">IP Address</label>
                    <input type="text" class="form-control aaaa-validation" id="aaaa-ip" value="" required="">
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="aaaa-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="aaaa-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="aaaa-button"
                    onclick="create_record_aaaa(this)">Create Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show" id="cname-record" role="tabpanel" aria-labelledby="cname-tab">
          <form id="cname-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="cname-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control hostname-validation" id="cname-name" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="cname-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="mb-3">
                    <label for="cname-alias" class="form-label">Alias</label>
                    <input type="text" class="form-control hostname-validation" id="cname-alias" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="cname-alias-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="cname-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="cname-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="cname-button"
                    onclick="create_record_cname(this)">Create Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show" id="mx-record" role="tabpanel" aria-labelledby="mx-tab">
          <form id="mx-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="mx-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control hostname-validation" id="mx-name" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="mx-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="mb-3">
                    <label for="mx-host" class="form-label">Mail server name</label>
                    <input type="text" class="form-control hostname-validation" id="mx-host" preview="true" value=""
                      required="">
                    <small class="form-text"><span id="mx-host-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="mx-priority" class="form-label">Priority</label>
                    <input type="number" class="form-control priority-validation" id="mx-priority" required="" min="0"
                      placeholder="ej. 10">
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="mx-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="mx-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="mx-button" onclick="create_record_mx(this)">Create
                    Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show" id="txt-record" role="tabpanel" aria-labelledby="txt-tab">
          <form id="txt-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <div class="mb-3">
                    <label for="txt-value" class="form-label">Value</label>
                    <input type="text" class="form-control" id="txt-value" value="" required=""
                      placeholder="Paste TXT string here">
                  </div>
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="txt-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control" id="txt-name" preview="true" value="" required=""
                      placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="txt-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="txt-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="txt-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="aaaa-button"
                    onclick="create_record_txt(this)">Create Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show" id="ns-record" role="tabpanel" aria-labelledby="ns-tab">
          <form id="ns-record-form needs-validation" novalidate autocomplete="off">
            <div class="container">
              <div class="row align-items-start">
                <div class="col-sm-6 col-lg-5">
                  <div class="mb-3">
                    <label for="ns-name" class="form-label">Hostname</label>
                    <input type="text" class="form-control hostname-validation" id="ns-name" preview="true" value=""
                      required="" placeholder="Enter @ or hostname">
                    <small class="form-text"><span id="ns-name-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <div class="mb-3">
                    <label for="ns-nameserver" class="form-label">Nameserver</label>
                    <input type="text" class="form-control nameserver-validation" id="ns-nameserver" preview="true"
                      value="" required="" placeholder="Enter nameserver">
                    <small class="form-text"><span id="ns-nameserver-preview">&nbsp;</span></small>
                  </div>
                </div>
                <div class="col col-sm-6 col-md-3 col-lg-2">
                  <div class="mb-3">
                    <label for="ns-ttl" class="form-label">TTL</label>
                    <input type="number" class="form-control ttl-validation" id="ns-ttl" placeholder="(default)"
                      required="" min="0">
                    <div class="invalid-feedback">Must be an integer greater than 60.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-success" id="ns-button" onclick="create_record_ns(this)">Create
                    Record</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
    <!-- <div class="row"> -->
    <!--   <div class="col"> -->
    <!--     <div class="alert alert-success" role="alert"> -->
    <!--       <h4 class="alert-heading">Error</h4> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/static/js/punycode.min.js"></script>
  <script src="/static/js/zonefile.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>
